.popup-wrapper {
    padding-top: 15px;
     .mdc-dialog__content {
        font-family: 'Oswald', sans-serif !important;
        font-size: 24px;
        line-height: normal !important;
     }
     .mdc-dialog__title {
        font-family: 'Oswald', sans-serif !important;
        font-size: 30px;
     }
     
}