<div class="row">
    <div class="col-xs-12 business-card position-relative">
        <div class="text-center welcome-text mt-5">
            <h1>Welcome to my page!</h1>
        </div>
        <div class="d-flex flex-column justify-content-around mt-5">
         <div class="left-info info">
            <div>My name is Cezary Kwiatek</div>
            <div>I'm Pro Code Developer</div>
         </div>
         <div class="left-info go-to">
            <div (click)="goToSkills()">Go to Skills</div>
            <div>Go to Hobbies</div>
            <div>Go to Contact</div>
         </div>
         <img class="me-img" src="../../../../assets/img/ja.png-removebg-preview.png" alt="me">
        </div>
    </div>
</div>
