<div #skillsWrapper class="skills-container">
    <h1 class="text-center">{{"My abilities" | uppercase}}</h1>
    <div class="skills-slider">
        <div class="slide">
            <div appHoverHighlight="arrow-hover" (click)="moveLeft()" class="arrow-left"><img src="../../../../../assets/img/arrow-left.svg" alt=""></div>
            <div appHoverHighlight="arrow-hover" (click)="moveRight()" class="arrow-right"><img src="../../../../../assets/img/arrow-right.svg" alt=""></div>
            <div #contentWrapper class="content-wrapper d-flex">
                <div #slides id="angular" class="slide-content">
                    <div class="image-wrapper">
                     <img src="../../../../../assets/img/angular.png" alt="angular">
                    </div>
                    <div class="text">Angular</div>
                </div>
                <div #slides id="react" class="slide-content">
                    <div class="image-wrapper">
                     <img src="../../../../../assets/img/react.png" alt="angular">
                    </div>
                    <div class="text">React</div>
                </div>
            </div>
            
        </div>
    </div>
</div>
